<section class="comments">
  <div class="comments__container">
    <h1 class="comments__title">People Are Talking About Fork</h1>
    <div class="comments__content">
      <div class="comments__post">
        <img
          class="comments__post-img"
          src="./imgs/comments-section/logo1.png"
        />
        <p class="comments__post-text">
          Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
          Proin id dignissim magna. Sed varius urna et pulvinar venenatis.
        </p>
      </div>
      <div class="comments__post">
        <img
          class="comments__post-img"
          src="./imgs/comments-section/logo2.png"
        />
        <p class="comments__post-text">
          Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
          Proin id dignissim magna. Sed varius urna et pulvinar venenatis.
        </p>
      </div>
      <div class="comments__post">
        <img
          class="comments__post-img"
          src="./imgs/comments-section/logo3.png"
        />
        <p class="comments__post-text">
          Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
          Proin id dignissim magna. Sed varius urna et pulvinar venenatis.
        </p>
      </div>
      <div class="comments__post">
        <img
          class="comments__post-img"
          src="./imgs/comments-section/logo4.png"
        />
        <p class="comments__post-text">
          Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
          Proin id dignissim magna. Sed varius urna et pulvinar venenatis.
        </p>
      </div>
      <div class="comments__post">
        <img
          class="comments__post-img"
          src="./imgs/comments-section/logo5.png"
        />
        <p class="comments__post-text">
          Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
          Proin id dignissim magna. Sed varius urna et pulvinar venenatis.
        </p>
      </div>
      <div class="comments__post">
        <img
          class="comments__post-img"
          src="./imgs/comments-section/logo6.png"
        />
        <p class="comments__post-text">
          Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
          Proin id dignissim magna. Sed varius urna et pulvinar venenatis.
        </p>
      </div>
    </div>
    <p class="comments__details">
      Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris,
      facilisis vitae aliquet id, imperdiet quis nibh. Donec eget elit eu libero
      tincidunt consequat nec elementum orci. Cum sociis natoque penatibus et
      magnis dis parturient montes, nascetur ridiculus mus.
    </p>
  </div>
</section>
