<header class="header">
  <div class="header__top-line">
    <a class="header__logo" href="index.html">
      <img class="logo__img" src="./imgs/header/logoForkio.png" />
      <p class="logo__title">Forkio</p>
    </a>
    <button class="header__buy-button">Buy now</button>
    <button class="header__menu-button">
      <img
        id="open-icon"
        class="header__menu-icon"
        src="./imgs/header/menu-icon.png"
      />
    </button>
  </div>
  <menu class="header__menu header__menu--hidden">
    <li class="header__menu-item">
      <a href="index.html" class="header__menu-link">Overview</a>
    </li>
    <li class="header__menu-item">
      <a href="index.html" class="header__menu-link">About Fork</a>
    </li>
    <li class="header__menu-item">
      <a href="index.html" class="header__menu-link">Buying options</a>
    </li>
    <li class="header__menu-item">
      <a href="index.html" class="header__menu-link">support</a>
    </li>
  </menu>
  <h1 class="header__title">Fork app</h1>
  <p class="header__description">
    A Real Gamechanger In The World Of Web-Development
  </p>
  <p class="header__version">v. 2.8 For Mac and Windows</p>
  <button class="header__download-button">download for free now</button>
  <p class="header__trial">Unlimited 30-Days Trial Period</p>
</header>
